/*#create-pub-form{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
<<<<<<< HEAD
}
=======
}*/
/*
#my-carousel { border: 1px solid #000; padding: 10px; }
      .carousel-item { display: none; position: relative; padding: 0 30px;}
      .carousel-item .carousel-prev { position: absolute; left: 0; }
      .carousel-item .carousel-next { position: absolute; right: 0; }

textarea#description{
	width: 37%;
	height: 150px;
}

#image::-webkit-file-upload-button {
  visibility: hidden;
}
>>>>>>> 629c6c77613de88f7573c8c860e8e9b878f4b5ad
*/