

@font-face { font-family: Avenir Next; src: url('/assets/AvenirNext.ttc'); }
@font-face { font-family: Langdon; src: url('/assets/Langdon.otf'); }


h2{
  font-family: Avenir Next;
  font-size: 2em;
  text-transform: uppercase;
}

#container{
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  background-color: #fff;
}

#main{
  width: 100%;
}

header{
  width: 100%;
/*  background-color: #E8C53A;*/
  height: inherit;
}

.title{
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 4em;
  font-family: Langdon;
  background-color: #FFF;
}

#login-functions {
  /*position: absolute;*/
  right: 0;
  padding: 2em;
  background-color: #E8C53A;
  font-family: Avenir Next;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: bold;
}

#login-functions ul{
  width: 100%;
  height: inherit;
  padding: 0;
  list-style: none;
}

#login-functions li{
  padding: 1em;
  list-style: none;
  display: inline;
  background-color: #000;
}
#login-functions li:hover{
  padding: 1em;
  background-color: #FFF;
}
#login-functions a{
  color: #FFF;
  text-decoration: none;
}
#login-functions a:hover{
  color: #000;
  text-decoration: none;
}

#content{
  font-family: Avenir Next;
  font-size: 0.7em;
  padding-top: 2%;
}

#map_canvas {
  width: 100%;
  height: 500px;
}










